<style>
  * {
    font-family: 'DejaVu Sans';
  }

  @page {
    margin: <%= @margins.map{|x| "#{x}in"}.join(' ') %>;
  }

  .qrcode table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  .qrcode  td {
    border-left: solid 3px #000;
    padding: 0; 
    margin: 0; 
    width: 0px; 
    height: 3px; 
  }

  .qrcode  td.black { border-color: #000; }
  .qrcode  td.white { border-color: #fff; }

  h1 {
    font-size: 13pt;
    margin-bottom: 32pt;
  }

  p {
    margin: 0; padding: 0;
    margin-bottom: 8px;
    font-size: 9pt;
  }

  .text-muted {
    color: #666;
  }

  span {
    hyphens: manual;
  }

  author {
    border-top: 1px solid red;
  }

  .date_over_bcode {
    width: 100px;
    font-size: 9pt;
    text-align: center;
  }
</style>

<div class="date_over_bcode">
<code><%= COMPANY_RS_TIN %></code>
</div>
<% qr = RQRCode::QRCode.new( "#{COMPANY.downcase}#{@document.docnumber}", :size => 4, :level => :h ) %>

<!-- print header -->
<% if @print_header %>
<table style="width:100%;">
  <tr>
    <td>
      <div class="qrcode"><%= raw qr.as_html %></div>
    </td>
    <td style="text-align: right; vertical-align: top;">
      <p>
        <strong><%= "N: " %></strong>
        <code><%= @document.docnumber || '--' %></code>
      </p>
      <p>
        <strong><%= "" %></strong>
        <code><%= @document.docdate ? @document.docdate.strftime('%d/%m/%Y')  : '--' %></code>
      </p>
    </td>
  </tr>
</table>
<% end %>

<!-- subject and body -->

<% if @subject %>
  <h1 style="text-align: center;"><%= @document.subject %></h1>
<% end %>
<div><%= raw @document.body %></div>

<!-- authors -->

<% if @author %>
  <p style="margin-top: 3px;">&nbsp;</p>
  <% @document.authors.each do |author| %>
    <p>
      <span class="text-muted"><%= t("views.document.print.author") %>,</span>
      <strong><%= author.to_s %></strong>
    </p>
    <% if author.respond_to? :organization %>
      <p style="padding:0 16px;"><%= raw author.organization.chain.map{|x| x.name}.join('<br>') %></p>
    <% end %>
  <% end %>
<% end %>

<% if @assignees %>
  <p style="margin-top: 3px;">&nbsp;</p>
  <% @document.assignees.each do |assignee| %>
    <p>
      <span class="text-muted"><%= t("views.document.print.assignee") %>,</span>
      <strong><%= assignee.to_s %></strong>
      <% if assignee.respond_to? :organization %>
        &mdash; <%= assignee.organization.to_s %>
      <% end %>
    </p>
  <% end %>
<% end %>

<script type="text/javascript">
window.print();
</script>