<style>
  .qrcode table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  .qrcode  td {
    border-left: solid 3px #000;
    padding: 0; 
    margin: 0; 
    width: 0px; 
    height: 3px; 
  }

  .qrcode  td.black { border-color: #000; }
  .qrcode  td.white { border-color: #fff; }

  p {
    margin: 0; padding: 0;
    margin-bottom: 8px;
  }
</style>

<% qr = RQRCode::QRCode.new( "telasi#{@document.docnumber}", :size => 4, :level => :h ) %>

<!-- print header -->
<table style="width:100%;">
  <tr>
    <td>
      <div class="qrcode"><%= raw qr.as_html %></div>
    </td>
    <td style="text-align: right; vertical-align: top;">
      <p>
        <strong><%= t("views.document.print.number") %></strong>
        <code><%= @document.docnumber || '--' %></code>
      </p>
      <p>
        <strong><%= t("views.document.print.date") %></strong>
        <code><%= @document.docdate ? @document.docdate.strftime('%d/%m/%Y')  : '--' %></code>
      </p>
    </td>
  </tr>
</table>

<!-- subject and body -->

<% if @subject %>
  <h1 style="text-align: center;"><%= @document.subject %></h1>
<% end %>
<div><%= raw @document.body %></div>

<!-- authors -->

<% if @author %>
  <% @document.authors.each do |author| %>
    <div style="padding: 16px 0;">
      <% if author.respond_to? :organization %>
        <p>
          <%= raw author.organization.chain.map{|x| x.name}.join('<br>') %>
        </p>
      <% end %>
      <p>
        <strong><%= author.to_s %></strong>
      </p>
    </div>
  <% end %>
<% end %>
