<h1 class="page-header">
  <%= @title %> <code><%= @types.count %></code>
</h1>

<ol class="breadcrumb">
  <li><%= link_to 'საწყისი', admin_home_url %></li>
  <li class="active"><%= @title %></li>
</ol>

<%= table_for @types, model_name: 'Document::ResponseType' do |t|
  t.text_field 'role', width: 100, label: 'როლი'
  t.text_field 'direction_name', width: 100, label: 'მიმართულება'
  t.text_field 'ordering', tag: 'code', width: 100
  t.text_field 'name', url: ->(x){ admin_response_type_url(id:x.id) }
  t.button_action admin_new_response_type_url, label: 'პასუხის ახალი სახეობა', icon: 'plus'
end %>