<div class="page-header">
  <div class="pull-right">
    <strong><%= current_user.full_name %></strong><br>
    <%= link_to 'გასვლა', admin_logout_url, data: { confirm: 'ნამდვილად გინდათ გასვლა?' } %>
  </div>
  <h1><%= @title %></h1>
</div>

<div class="row">
  <div class="col-sm-4">
    <h4 class="page-header">კადრების მართვა</h4>
    <div>
      <%= link_to "თანამშრომლები <code>#{HR::Employee.active.count}</code>".html_safe, admin_employees_url, class: ['btn', 'btn-default'] %>
      <%= link_to 'ორგანიზაციული სტრუქტურა', admin_organization_url, class: ['btn', 'btn-default'] %>
    </div>
  </div>
  <div class="col-sm-4">
    <h4 class="page-header">მომხმარებლები</h4>
    <div>
      <%= link_to "მომხმარებლები <code>#{Sys::User.active.count}</code>".html_safe, admin_users_url, class: ['btn', 'btn-default'] %>
    </div>
  </div>
  <div class="col-sm-4">
    <h4 class="page-header">დოკუმენტები</h4>
    <div>
      <%= link_to "სახეობები <code>#{Document::Type.count}</code>".html_safe,
        admin_doctypes_url,
        class: ['btn', 'btn-default']
      %>
      <%= link_to "პასუხის სახეობები <code>#{Document::ResponseType.count}</code>".html_safe,
        admin_response_types_url,
        class: ['btn', 'btn-default']
      %>
    </div>
  </div>
</div>