<div class="page-header">
  <h1><%= @title %> (<code><%= number_with_delimiter @employees.count %></code>)</h1>
</div>

<div class="btn-toolbar" style="margin-bottom: 8px;">
  <%= link_to 'სინქრონიზაცია', admin_sync_employees_url, class: ['btn', 'btn-default'], data: { method: 'post', confirm: 'ნამდვილად გინდათ სინქრონიზაცია?' } %>
</div>

<%= table_for @employees do |t|
  t.text_field 'person_number', tag: 'code', width: 100
  t.complex_field nil, i18n: 'full_name' do |c|
    c.text_field 'full_name', after: '&mdash;'.html_safe, url: ->(x){ admin_employee_url(id: x.id) }
    c.text_field 'organization.name', class_name: 'text-muted'
  end
end %>

<%= paginate @employees, keyboardNavigation: true %>
<script type="text/javascript">
  $(function() {
    $('.js-orgstructure').popover({html: true, animation: true, placement: 'bottom'});
  });
</script>