<div class="page-header">
  <h1><%= @title %> (<code><%= number_with_delimiter @employees.count %></code>)</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th width="50">თანამშრ.#</th>
      <th>სახელი, გვარი, თანამდებობა</th>
    </tr>
  </thead>
<% if @employees.any? %>
  <% @employees.each do |employee| %>
    <tr>
      <td><code><%= employee.person_number %></code></td>
      <td>
        <%= link_to employee.full_name, admin_employee_url(id: employee.id) %> &mdash;
        <span class="js-orgstructure text-muted"
              data-toggle="popover"
              data-content="<%= employee_org_chain(employee) %>"
              title="<strong><%= employee.full_name %></strong>"
              data-container="body" data-trigger="hover">
          <%= employee.organization.name %>
          <i class="fa fa-ellipsis-h"></i>
        </span>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="2" class="no-data">
      <% if @employees.total_entries %>
        ამ გვერდზე არაა ინფორმაცია თანამშრომლების შესახებ.
        <%= link_to 'დაბრუნდით პირველ გვერდზე', admin_employees_url(page: 1) %>
      <% else %>
        არც ერთი თანამშრომელი
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @employees, keyboardNavigation: true %>
<script type="text/javascript">
$(function() {
  $('.js-orgstructure').popover({html: true, animation: true, placement: 'bottom'});
});
</script>