<h1 class="page-header">
  შემოსული წერილები 7-8 სექტემბერი 2015
</h1>
<table class="table table-bordered table-condensed" style="font-size: 10pt;">
  <thead>
    <tr>
      <th>#</th>
      <th>№/თარიღი</th>
      <th>ავტორები/სათაური</th>
    </tr>
  </thead>
  <% @docs.each_with_index do |doc,i| %>
    <tr>
      <td align="right" width="30">
        <strong><%= i + 1 %></strong>
      </td>
      <td width="100">
        <code><%= doc.docnumber %><br></code>
        <%= doc.docdate.strftime('%d-%b-%Y') %>
      </td>
      <td>
        <%= doc.authors.map{|x| x.to_s}.join(', ') %>
        <hr style="margin: 5px 0;">
        <span class="text-muted"><%= doc.subject %></span>
      </td>
    </tr>
  <% end %>
</table>