<h1 class="page-header">
  <%= @title %>
</h1>

<ol class="breadcrumb">
  <li><%= link_to 'საწყისი', admin_home_url %></li>
  <li><%= link_to 'დოკუმენტების სახეობები', admin_doctypes_url %></li>
  <li class="active"><%= @title %></li>
</ol>

<%= viewer_for @type do |v|
  v.required_text_field 'name_ka'
  v.text_field 'name_ru'
  v.text_field 'name_en'
  v.required_text_field 'order_by', tag: 'code'
  v.text_field 'margin_top', after: 'mm', tag: 'code'
  v.text_field 'margin_top_out', after: 'mm', tag: 'code'
  v.text_field 'margin_bottom', after: 'mm', tag: 'code'
  v.boolean_field 'print_header'
  v.button_action admin_edit_doctype_url(id: @type.id), label: 'შეცვლა', icon: 'pencil'
  v.button_action admin_delete_doctype_url(id: @type.id), label: 'წაშლა', icon: 'trash', confirm: 'ნამდვილად გინდათ ამ სახეობის წაშლა?', http_method: 'delete'
end %>