<h1 class="page-header">
  <%= @title %>
</h1>

<ol class="breadcrumb">
  <li><%= link_to 'საწყისი', admin_home_url %></li>
  <li><%= link_to 'თანამშრომლები', admin_employees_url %></li>
  <li class="active"><%= @title %></li>
</ol>

<%= viewer_for @employee do |v|
  v.text_field 'person_number', tag: 'code', required: true
  v.text_field 'full_name', required: true
  if @employee.organization
    v.array_field 'organization.chain', i18n: 'organization' do |a|
      a.text_field 'name', url: ->(x){ admin_organization_url(parent_id: x.id) }
    end
  end
  v.boolean_field 'active?', i18n: 'is_active'
  v.complex_field 'user' do |c|
    c.text_field 'username', tag: 'code'
    c.text_field 'full_name', url: ->(x){ admin_user_url(id: x.id) }
  end
end %>