<h1 class="page-header">
  <%= @title %>
</h1>

<ol class="breadcrumb">
  <li><%= link_to 'საწყისი', admin_home_url %></li>
  <li><%= link_to 'მომხმარებლები', admin_users_url %></li>
  <li><%= link_to @user.full_name, admin_user_url(id: @user.id) %></li>
  <li class="active"><%= @title %></li>
</ol>

<%= editor_for @user do |e|
  e.required_text_field 'username'
  e.password_field 'virtual_password', i18n: 'password'
  e.text_field 'email'
  e.text_field 'mobile'
  e.text_field 'phone'
  e.combo_field 'employee_id', collection: HR::Employee.active.order('person_id'), i18n: 'employee'
  e.boolean_field 'is_active'
  e.boolean_field 'is_admin'
  e.submit 'მონაცემების შენახვა'
  e.button_action admin_user_url(id: @user.id), label: ' გაუქმება', icon: 'remove'
end %>