<div class="page-header">
  <div class="pull-right">
    <%= link_to 'მომხმარებლის დამატება', admin_new_user_url, class: ['button'] %>
  </div>
  <h1><%= @title %> (<code><%= @users.count %></code>)</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>მომხ.სახელი</th>
      <th>სახელი, გვარი</th>
      <th>მობილური</th>
      <th>ელ.ფოსტა</th>
    </tr>
  </thead>
<% if @users.any? %>
  <% @users.each do |user| %>
    <tr>
      <td><code><%= user.username %></code></td>
      <td><%= link_to user.full_name, admin_user_url(id: user.id) %></td>
      <td>
        <% if user.mobile.blank? %>
          <span class="text-muted">(ცარიელი)</span>
        <% else %>
          <%= user.mobile %>
        <% end %>
      </td>
      <td>
        <% if user.email.blank? %>
          <span class="text-muted">(ცარიელი)</span>
        <% else %>
          <%= user.email %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="5" class="no-data">
      არც ერთი მომხმარებელი
    </td>
  </tr>
<% end %>
</table>