<div class="page-header">
  <div class="pull-right">
    <%= link_to 'მომხმარებლის დამატება', admin_new_user_url, class: ['button'] %>
  </div>
  <h1><%= @title %> (<code><%= @users.count %></code>)</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>მომხ.სახელი</th>
      <th>სახელი, გვარი</th>
      <th>მობილური</th>
      <th>ელ.ფოსტა</th>
      <th class="text-center"><i class="fa fa-cog"></i></th>
    </tr>
  </thead>
<% if @users.any? %>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.full_name %></td>
      <td><%= user.mobile %></td>
      <td><%= user.email %></td>
      <td>?</td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="5" class="no-data">
      არც ერთი მომხმარებელი
    </td>
  </tr>
<% end %>
</table>