<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_tag request.url, class: 'form-vertical' do %>
  <% if @errors %>
    <div class="alert alert-danger"><%= @errors %></div>
  <% end %>

  <% if @employee %>
    <label>მომხმარებლის შექმნა თანამშრომლისთვის:</label>
    <div class="well well-sm">
      <code><%= @employee.person_number %></code>
      <%= link_to @employee.full_name, admin_employee_url(id: @employee.id) %> &mdash;
      <span class="text-muted"><%= @employee.organization.name %></span>
    </div>
  <% end %>

  <%= label_tag :username, 'მომხმარებლის სახელი' %>
  <%= text_field_tag :username, params[:username], class: 'form-control', placeholder: 'მომხმარებლის სახელი', autofocus: true  %>

  <%= label_tag :password, 'პაროლი' %>
  <%= password_field_tag :password, params[:password], class: 'form-control', placeholder: 'პაროლი'  %>


  <button type="submit" class="btn btn-primary btn-lg"> მომხმარებლის შექმნა</button>
<% end %>
