<h1 class="page-header">
  <%= @title %>
</h1>

<ol class="breadcrumb">
  <li><%= link_to 'საწყისი', admin_home_url %></li>
  <li><%= link_to 'მომხმარებლები', admin_users_url %></li>
  <li><%= link_to @user.full_name, admin_user_url %></li>
  <li class="active"><%= @title %></li>
</ol>

<%= editor_for @relation do |e|
  e.combo_field :role, collection: Sys::UserRelation::RELATIONS, select2: false
  e.combo_field :related_id, collection: Sys::User.all, empty: '--აარჩიეთ მომხმარებელი--'
  e.submit 'შენახვა'
end %>
