<!DOCTYPE html>
<html language="ka">
<%= render partial: 'layouts/dochead' %>
<body data-no-turbolink>
<div class="appcontent">
  <div id="sidebar">
    <%= render partial: 'layouts/logolarge', locals: { with_text: false } %>
    <%= render partial: 'layouts/appcombo' %>
    <%= render partial: 'layouts/sidemenu' %>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>