<!DOCTYPE html>
<html language="ka">
<%= render partial: 'layouts/dochead' %>
<body>
<div class="appcontent">
  <div id="sidebar">
    <%= render partial: 'layouts/logolarge', locals: { with_text: false } %>
    <%
      apps = my_applications
      currapp = current_application
    %>
    <% if apps.length > 1 %>
      <div id="applications">
        <select id="js-applications">
          <% apps.each do |app| %>
            <option value="<%= app %>" <%if app == currapp%>selected<% end %>><%= app %></option>
          <% end %>
        </select>
        <i class="fa fa-bars" id="js-applications-button"></i>
      </div>
    <% end %>
    <script type="text/javascript">
      $(function() {
        $('#js-applications').change(function() {
          window.location = '/' + $(this).val();
        });
        $('#js-applications-button').click(function() {
          var evt = document.createEvent('MouseEvents');
          evt.initMouseEvent('mousedown', true, true, window);
          document.getElementById('js-applications').dispatchEvent(evt);
        });
      });
    </script>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>